<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Product App</title>
		<link rel='stylesheet' type='text/css' href='style.css'>
	</head>
	<body>
		<div class='nav-bar'></div>
		<div id='app'>
			<div class='cart'>
				<p>Cart({{cart.length}})</p>
			</div>
			
			<product
				:premium='premium'
				@add-to-cart='updateCart'
			></product>
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src='main.js'></script>
	</body>
<html>
